html, body{
  height: 100%;
  font-family: 'QuicksandL', sans-serif;
}

@font-face {
font-family: "QuicksandL";
src: url("/fonts/Quicksand Light.otf");
}


.container {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
}


/* ul li{
  padding: 0;
  margin: 0;
  list-style: none;
} */

input[type=button] {
  background: none;
  outline: none;
  border: none;
}

.section-1 {
  /* height: inherit; */
  /* height: 0;*/
  /* padding-top: 54.66%; */
  overflow: hidden;
  background-image: url("/images/loomx_site_img1.png");
  height: 100vh;
  min-width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'QuicksandL', sans-serif;
  font-weight:normal;
  font-style:normal;
}

/* .topnav-container {
  position: absolute;
  margin: 20px;
  width: auto;
} */

.topnav {
  text-align: center;
  overflow: hidden;
}

.topnav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /* padding-left: 10px; */
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  height: 40px;
  /* position: absolute; */
}

.topnav li {
  display: inline;
}

.topnav a {
    display: inline-block;
    color: #000;

    font-size: 12pt;
    padding: 15px 16px;
    text-decoration: none;
}

.section-1 .caption {
  position: absolute;
  top: 45vh;
  padding-left: 10%
}
.section-1 .caption-1 {
  font-size: 7vw;
}
.section-1 .caption-2 {
  font-size: 1.15vw;
  padding-left: 3px;
}

.section-1 .button {
  margin: 0 auto;
  

  text-align: center;
}

.section-2 {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  /* display: run-in; */
  /* position: relative; */
  overflow: hidden;
  background: url("/images/section-2-background.png");
  /* background-position:  ; */
  background-size: 100%;
  background-repeat: no-repeat;
}
