<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/contact.css">
  <link href="https://fonts.googleapis.com/css?family=Exo:200|Raleway:100,100i,200|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <title>Loomx</title>
</head>
<body style = "margin:0">
  <div class="container">
    <nav class="topnav">
      <ul>
        <li><a class="active" id="home" href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div id="section_one">
      <h1 class="title">Contact</h1>
    </div>
    <div class="section_two">
      <form class="inquire_form" action="/" >
        <label>Full Name</label>
        <br><br>

        <input type="text" placeholder="Mary Poppins" id="NameInput">
        <p style="page-break-after: always;">&nbsp;</p>
        <label>Organization</label>
        <br><br>
        <input type="text" placeholder="Mary Poppins" id="OrganizationInput">
        <p style="page-break-after: always;">&nbsp;</p>
        <label>Email</label>
        <br><br>
        <input type="text" placeholder="Mary Poppins" id="EmailInput">
        <p style="page-break-after: always;">&nbsp;</p>
        <label>Phone</label>
        <br><br>
        <input type="text" placeholder="Mary Poppins" id="PhoneInput">
        <p style="page-break-after: always;">&nbsp;</p>
        <input id="submit" type="submit" value="Submit" onclick="">
      </form>
      <p style="page-break-after: always;">&nbsp;</p>
    </div>
  </div>
<script src="/scripts/interactive.js"></script>
<script src="/scripts/contact.js"></script>
</body>
</html>
