<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="fonts" href="fonts/Quicksand Light.otf">
  <link href="https://fonts.googleapis.com/css?family=Exo:200|Raleway:100,100i,200|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <title>Loomx</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon2.png"/>
</head>
<body style = "margin:0">
  <div class="container">

    <div class="section-1">
      <div class="topnav-container">
        <div class="topnav">
          <ul>
            <li><a class="active" id="home" href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="caption">
        <span class="caption-1">Loomx</span>
        <br>
        <span class="caption-2">Where imagination is more than bright.</span>
      </div>
      <div class="button">
        <label><input type="button" name="">button</label>
      </div>
    </div>

    <div class="section-2">
      <div class="caption">
        <span class="caption-1">Sound Reactivity</span>
        <br>
        <span class="caption-2">At Loomx, we develop custom hardware and software that remove the need for human operation and pre-programmed sound-to-light funtionality. Our controllers are custom built to work with the audio equiptment our customers use</span>
      </div>
    </div>
</div>

<script src="/scripts/interactive.js"></script>
</body>
</html>
